{% extends "base.html" %}
{% block title %}Последние обновления{% endblock %}
{% block header %}Последние обновления на сайте{% endblock %}
{% load cache %}

{% block content %}
<div class="container">
    {% include "menu.html" with index=True %}
    <!-- Вывод ленты записей -->
    {% cache 20 index_page page %}
    {% for post in page %}
    {% include "posts/post_item.html" with post=post %}
    {% endfor %}

    <!-- Вывод паджинатора -->
    {% include "paginator.html" with items=page paginator=paginator%}
    {% endcache %}
</div>
{% endblock %}