{% extends 'base.html' %}
{% block title %}Страница пользователя{% endblock %}
{% block header %}Страница пользователя {{ profile.first_name }}{% endblock %}
{% block content %}
<main role="main" class="container">
    <div class="row">
        <div class="col-md-3 mb-3 mt-1">
            <div class="card">
                <div class="card-body">
                    <div class="h2">
                        <!-- Имя автора -->
                        {{ profile.get_full_name }}
                    </div>
                    <div class="h3 text-muted">
                        <!-- username автора -->
                        <a href="{% url 'profile' profile %}">@{{ profile }}</a>
                        <!-- отписаться / подписаться-->
                        {% if request.user != profile %}
                        <li class="list-group-item">
                            {% if following %}
                            <a class="btn btn-lg btn-light"
                               href="{% url 'profile_unfollow' profile.username %}" role="button">
                                Отписаться
                            </a>
                            {% else %}
                            <a class="btn btn-lg btn-primary"
                               href="{% url 'profile_follow' profile.username %}" role="button">
                                Подписаться
                            </a>
                            {% endif %}
                        </li>
                        {% endif %}
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="h6 text-muted">
                            Подписчиков: {{ followers_count }}<br/>
                            Подписок: {{ following_count }}<br/>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="h6 text-muted">
                            <!-- Количество записей -->
                            Записей: {{ paginator.count }}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            {% for post in page %}
            {% include "posts/post_item.html" %}
            {% endfor %}
            <!-- Здесь постраничная навигация паджинатора -->
            {% include "paginator.html" %}
        </div>
    </div>
</main>
{% endblock %}